body {
    color: white;
    /* border: 2px solid red; */
    height: 100vh;
    background-color: #202020;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    /* text-align: center; */
    /* padding: 50px; */
}

.container {
    max-width: 400px;
    margin: auto;
}

#timerDisplay {
    font-size: 24px;
    margin-top: 20px;
}

.line {
    /* color: white; */
    /* height: 2px; */
    /* width: 100vw; */
    border: 2px solid #3B3B3B;
}

nav {
    display: flex;
}

.verticalLine {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #262727;
    margin: 3px;
    width: 33%;
    height: 40px;
    border-width: 2px;
    border-radius: 0.8px;
    border-right: 2px solid #5d5d5d;
}

.timer {
    margin: 20px;
    border-radius: 10px;
    height: 30vh;
    background-color: #3B3B3B;
     display: flex;
    justify-content: center;
    align-items: center;
}

.clock {
    /* padding: 10px; */
    /* border: 2px solid red; */
    width: 30%;
    height: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
    /* position: relative; */
   
}

.outer {
    /* padding: 20px; */
    background-color: #2efe4e;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    display: flex;
    align-items:center;
    justify-content: center;
    box-shadow: 6px 6px 10px 5px rgba(0,0,0,0.15),-6px -6px 10px 5px rgba(225,225,225,0.15);
    
}

.inner {
    
    display: flex;
    align-items:center;
    justify-content: center;
    background-color: rgb(248, 248, 248);
    fill: none;
    

    border-radius: 50%;
    height: 143px;
    width: 143px;
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
    inset -4px -4px 6px -1px rgba(255,255,255,0.7),
    -0.5px -0.5px 0px rgba(255,255,255,1),
    0.5px 0.5px 0px rgba(0,0,0,0.15),
    0px 12px 10px -10px rgba(0,0,0,0.05);
}
.timerInNumber{
    width: 70%;
    
}

